@font-face {
    font-family: "RobotoCondensed";
    src: url(./fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: "RobotoFlex";
    src: url(./fonts/RobotoFlex-Regular.ttf);
}

@font-face {
    font-family: "RobotoMono";
    src: url(./fonts/RobotoMono-Regular.ttf);
}

html {
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: #b9cce3 transparent;

}

html::-webkit-scrollbar {
    width: 0.4vw;
}

html::-webkit-scrollbar-thumb {
    background-color: #b9cce388;
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #b9cce3;
    border-radius: 10px;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

body {

    background-color: #252830;
}

.navbar-custom {
    background-color: #1D1F25;
}

.nav-logo {
    height: 2em;
}

nav .navbar-nav li a {
    color: white !important;
    font-family: "RobotoMono";
}

.main-container {
    margin-top: 7%;
    height: 70%;
}

.profilepic {
    width: 55%;
    height: auto;
    border-radius: 100%;
    border: 5px solid #1D1F25;
    margin-top: 5%;
    margin-left: 10%;
}

.about-area {
    margin-top: 2em;
}

h1 {
    color: #b9cce3;
    font-family: "RobotoCondensed";
    font-size: 6em;
    margin-left: -0.1em;
}

.intro {
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: -0.3em;
}

.pre-about {
    color: #96aac4;
    margin-top: 1.5em;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 2.3em;
    margin-left: -0.7em;
}

.about {
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.5em;
    margin-left: -1em;
    margin-bottom: 25%;
}

.footer {
    height: 7%;
    background-color: #252830;
}

.icon {
    height: 40%;
    margin-left: 0.5em;
}

.email {
    color: white;
    display: inline;
    margin-left: 0.5em;
    font-family: "RobotoMono";
}

/* work page */

.odd-space {
    background-color: #1D1F25;
}

.carousel-space {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    max-height: 295px;
}

.project-img {
    border-radius: 20px;
    max-height: 295px;
}

.carousel-git {
    position: absolute;
    max-width: 5%;
    height: auto;
    top: 85%;
    left: 3%;
}

.project-description {
    color: white;
    font-family: "RobotoMono";
    font-size: 1.2em;
    margin-left: 18%;
    margin-right: 18%;
}

/* media queries */

@media (max-width: 992px) {
    .profilepic {
        margin-left: 22%;
    }

    h1 {
        margin-left: 0em;
        text-align: center;
    }

    .intro {
        margin-left: 0em;
        text-align: center;
    }

    .pre-about {
        margin-left: 0em;
        text-align: left;
    }

    .about {
        margin-left: 0em;
    }

    .icon {
        height: 25%;
    }

    .email {
        font-size: 0.5em;
    }

    /* work page */
    .project-description {
        margin-left: 10%;
        margin-right: 10%;
    }

    .odd-description {
        margin-top: 5%;
    }
}