{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container main-container d-flex align-items-center">
  <div class="row">
    <div class="col">
      <img src="../static/img/profilepic.jpeg" alt="" class="profilepic">
    </div>
    <div class="col about-area">
      <p class="pre-name">Hey, my name is</h3>
      <h1>Rodrigo Pereira</h1>
      <p class="about">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis ut lorem in sodales. Donec enim turpis,
        dignissim vitae porttitor in, dapibus sit amet turpis.
        Praesent sed dignissim ante. Maecenas facilisis nibh orci, sit amet malesuada orci eleifend ac.
        </h6>
    </div>
  </div>
</div>

<div class="fixed-bottom footer">
  <div class="d-flex">
    <div class="p-2 flex-grow-1">
      <a href="https://github.com/rrpereira98" target="_blank"><img src="../static/img/github-square-brands.png" alt=""
          class="icon"></a>
      <a href="https://www.linkedin.com/in/rrpereira98/" target="_blank"><img src="../static/img/linkedin-brands.png"
          alt="" class="icon"></a>
    </div>
    <div class="p-2">
      <img src="../static/img/square-envelope-solid.png" alt="" class="icon">
      <p class="email">rodrigo.rpereira1998@gmail.com</p>
    </div>
  </div>
</div>
{% endblock %}