{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container main-container d-flex align-items-center">
  <div class="row">
    <div class="col-md">
      <img src="../static/img/profilepic.jpeg" alt="" class="profilepic">
    </div>
    <div class="col-md about-area">
      <p class="intro">Hey, my name is</h3>
      <h1>Rodrigo Pereira</h1>
      <h1 class="pre-about">I started programing just to see if I could do it.</h1>
      <p class="about">
        when I saw that I could make a simple "hello world!"
        show on the screen with some lines of code I got
        addicted to the feeling of creating stuff, I love
        taking something that is just in my head and transforming it
        into a real project. I´ve used javascript, c# but the
        language that I like to use the most is python.
        </h6>
    </div>
  </div>
</div>

<div class="fixed-bottom footer">
  <div class="d-flex">
    <div class="p-2 flex-grow-1">
      <a href="https://github.com/rrpereira98" target="_blank"><img src="../static/img/github-square-brands.png" alt=""
          class="icon"></a>
      <a href="https://www.linkedin.com/in/rrpereira98/" target="_blank"><img src="../static/img/linkedin-brands.png"
          alt="" class="icon"></a>
    </div>
    <div class="p-2">
      <img src="../static/img/square-envelope-solid.png" alt="" class="icon">
      <p class="email">rodrigo.rpereira1998@gmail.com</p>
    </div>
  </div>
</div>
{% endblock %}