{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div id="carouselTeampicker" class="carousel carousel-dark slide carousel-space" data-bs-ride="false">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselTeampicker" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselTeampicker" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselTeampicker" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner project-img">
                    <div class="carousel-item active ">
                        <img src="../static/img/index_footpick.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/img/teams_footpick.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/img/teams_footpick2.png" class="d-block w-100" alt="...">
                    </div>
                    <a href="https://github.com/rrpereira98/FootPick" target="_blank"><img
                            src="../static/img/github-square-brands-dark.png" class="d-block w-100 carousel-git"
                            alt="..."></a>
                </div>
            </div>
        </div>
        <div class="col">
            2 of 2
        </div>
    </div>
    <div class="row odd-space">
        <div class="col">
            1 of 3
        </div>
        <div class="col">
            <div id="carouselPassgen" class="carousel carousel-dark slide carousel-space" data-bs-ride="false">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselPassgen" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselPassgen" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselPassgen" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner project-img">
                    <div class="carousel-item active">
                        <img src="../static/img/passgen.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/img/showkeys.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/img/getpass.png" class="d-block w-100" alt="...">
                    </div>
                    <a href="https://github.com/rrpereira98/PassGen" target="_blank"><img
                            src="../static/img/github-square-brands.png" class="d-block w-100 carousel-git"
                            alt="..."></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="carouselAgenda" class="carousel carousel-dark slide carousel-space" data-bs-ride="false">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselAgenda" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselAgenda" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner project-img">
                    <div class="carousel-item active ">
                        <img src="../static/img/agenda.gif" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/img/agenda.png" class="d-block w-100" alt="...">
                    </div>
                    <a href="https://github.com/rrpereira98/Eco-Sensacao" target="_blank">
                        <div><img src="../static/img/github-square-brands.png" class="d-block w-100 carousel-git"
                                alt="..."></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            2 of 2
        </div>
    </div>
</div>
{% endblock %}